[tool.poetry]
name = "maailmasampo"
version = "0.1.0"
description = ""
authors = ["Pii Sainio <pii.sainio@helsinki.fi>"]
readme = "README.md"
package-mode = false

[tool.poetry.dependencies]
python = "^3.13"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
