{% extends "layout.html" %}

{% block title %}Kohteen muokkaus{% endblock %}

{% block content %}
  <h2>{{ item.title }}</h2>
  <h3>Muokkaa kohdetta</h3>
  <form action="/update-item" method="post">
    <p>
      <label for="title">Nimi</label>: <br />
      <input type="text" name="title" id="title" value="{{ item.title }}" maxlength="50" required />
    </p>
    <p>
      <label for="description">Kuvaus</label>: <br />
      <textarea name="description" id="description" rows="8" cols="60" maxlength="1000" required>{{ item.description }}</textarea>
    </p>
    <input type="hidden" name="project_id" value="{{ item.project_id }}" />
    <input type="hidden" name="item_id" value="{{ item.id }}" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Päivitä" />
  </form>
  <p>
    <a href="/item/{{ item.id }}">Takaisin kohteeseen</a>
  </p>
{% endblock %}