{% extends "layout.html" %}

{% block title %}Kohdehaku{% endblock %}

{% block content %}
    {% if query %}
        <h3>Tulokset</h3>
        <ul>
        {% for item in results %}
            {% if item.type == "Hanke" %}
                <li><a href="/project/{{ item.id }}">{{ item.title }}</a></li>
            {% else %}
                <li><a href="/project/{{item.project_id}}/item/{{ item.id }}">{{ item.title }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}