{% extends "layout.html" %}

{% block title %}Käyttäjät{% endblock %}

{% block content %}
<h2>Etsi käyttäjää</h2>

<form action="/find-user" method="get">
  <p>
    <label for="query">Hakusana</label>:
    <input type="text" name="query" id="query" value="{{ query }}">
  </p>
  <input type="submit" value="Lähetä">
</form>

{% if query %}
<h3>Tulokset</h3>
<table>
    <thead>
        <tr>
            <th>Tunnusluku</th>
            <th>Nimimerkki</th>
            <th>Luotu</th>
            <th>Omistamien hankkeitten määrä</th>
            <th>Luotujen kohteitten määrä</th>
        </tr>
    </thead>
    <tbody>
        {% for user in results %}
        <tr>
            <td><a href="/user/{{user.id}}">{{user.id}}</a></td>
            <td><a href="/user/{{user.id}}">{{user.username}}</a></td>
            <td>{{user.created}}</td>
            <td>{{user.projects_owned}}</td>
            <td>{{user.number_of_items}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}