{% extends "layout.html" %}

{% block title %}Kohdehaku{% endblock %}

{% block content %}
    {% if query %}
        <p>
            <form action="/find-projects-items" method="get">
                <input type="hidden" name="query" value="{{ query }}" />
                <button type="submit" name="page" value="{{ 1 }}">Ensimmäinen</button>
                <button type="submit" name="page" value="{{ page - 1 }}">&lt;</button>
                {% for i in range(5, 0, -1) %}
                    {% if 0 < page-i %}
                       <button type="submit" name="page" value="{{ page - i }}">{{ page - i }}</button>
                    {% endif %}
                {% endfor %}
                {% for i in range(0, 5) %}
                    {% if page+i < page_count+1 %}
                       <button type="submit" name="page" value="{{ page + i }}">{{ page + i }}</button>
                    {% endif %}
                {% endfor %}
                <button type="submit" name="page" value="{{ page + 1 }}">&gt;</button>
                <button type="submit" name="page" value="{{ page_count }}">Viimeinen</button>
            </form>
            <h4>Sivu {{ page }}/{{ page_count }}</h4>
        </p>
        <h3>Tulokset</h3>
        <ul>
        {% for item in results %}
            {% if item.type == "Hanke" %}
                <li><a href="/project/{{ item.id }}">{{ item.title }}</a></li>
            {% else %}
                <li><a href="/project/{{item.project_id}}/item/{{ item.id }}">{{ item.title }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
        <p>
            <h4>Sivu {{ page }}/{{ page_count }}</h4>
            <form action="/find-projects-items" method="get">
                <input type="hidden" name="query" value="{{ query }}" />
                <button type="submit" name="page" value="{{ 1 }}">Ensimmäinen</button>
                <button type="submit" name="page" value="{{ page - 1 }}">&lt;</button>
                {% for i in range(5, 0, -1) %}
                    {% if 0 < page-i %}
                       <button type="submit" name="page" value="{{ page - i }}">{{ page - i }}</button>
                    {% endif %}
                {% endfor %}
                {% for i in range(0, 5) %}
                    {% if page+i < page_count+1 %}
                       <button type="submit" name="page" value="{{ page + i }}">{{ page + i }}</button>
                    {% endif %}
                {% endfor %}
                <button type="submit" name="page" value="{{ page + 1 }}">&gt;</button>
                <button type="submit" name="page" value="{{ page_count }}">Viimeinen</button>
            </form>
        </p>
    {% endif %}
{% endblock %}