<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <h1>Maailmasampo</h1>

  {% if session.user_id %}
  <p>
    Olet kirjautunut nimellä <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
  </p>
  {% endif %}

  <p>
    <a href="/">Etusivu</a> |
  {% if session.user_id %}
    <a href="/find_project">Hae hanketta</a> |
    <a href="/find_item">Hae kohdetta</a> |
    <a href="/new_project">Luo hanke</a> |
    <a href="/new_item">Luo kohde</a> |
    <a href="/find_user">Käyttäjät</a> |
    <a href="/logout">Kirjaudu ulos</a>
  {% else %}
    <a href="/login">Kirjaudu sisään</a> |
    <a href="/register">Luo tunnus</a>
  {% endif %}
  </p>

  {% for message in get_flashed_messages() %}
    {{ message }}
  {% endfor %}

  {% block content %}{% endblock %}  
</body>

</html>