{% extends "layout.html" %}

{% block title %}Hankkeen poisto{% endblock %}

{% block content %}
  <h2>{{ project.title }}</h2>

  <h3>Poista hanke</h3>
  <p>
    Haluatko varmasti poistaa tämän hankkeen?<br>
    HUOM! Hankkeen poistaminen poistaa myös kaikki hankkeen alikohteet.
  </p>

  <form action="/remove-project/{{ project.id }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" name="remove" value="Poista hanke">
  </form>
  <p>
    <a href="/project/{{ project.id }}">Takaisin hankkeeseen</a>
  </p>
{% endblock %}