{% extends "layout.html" %}

{% block title %}Kohde{% endblock %}

{% block content %}

  <h2>{{ item.title }}</h2>
  <p>
    <a href="/edit-item/{{ item.id }}">Muokkaa</a> |
    <a href="/remove-item/{{ item.id }}">Poista</a>
  </p>
  <p>
    Kuvaus: {{ item.description }}<br>
    Luokka: {{ item.type_value }}<br>
    Hanke: <a href="/project/{{ project_id }}">{{ item.project_name }}</a><br>
    Luotu: {{item.created}}<br>
    Luonut: <a href="/user/{{item.creator_id}}">{{item.creator}}</a>
  </p>
{% endblock %}